PROJECT_NAME=

DATABASE__POSTGRES_SERVER=
DATABASE__POSTGRES_PORT=
DATABASE__POSTGRES_USER=
DATABASE__POSTGRES_PASSWORD=
DATABASE__POSTGRES_DB=

SITE_URL=
ALLOW_ORIGINS=
USE_SECURE_COOKIES=

BACKEND_PORT=
BACKEND_HOST=
BACKEND_URL=
FRONTEND_PORT=
FRONTEND_URL=

SECRET_KEY=

S3__ENDPOINT_URL=
S3__ACCESS_KEY_ID=
S3__SECRET_ACCESS_KEY=
S3__BUCKET_NAME=
